.results {
    width: 65vw;
    padding: 20px;
  }
  
  .results h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #00796b;
  }
  
  .results p {
    font-size: 0.9em;
    margin-bottom: 20px;
    font-style: italic;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  table, th, td {
    border: 1px solid #ddd;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
  }
  
  .page-button {
    padding: 10px 20px;
    margin: 0 5px;
    background-color: #00897b;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .page-button:hover {
    background-color: #00796b;
  }