
  <div class="container">
    <aside class="profile">
      <div class="profile-image">
        <img src="./../../assets/planet-icon.png" alt="Character Image">
      </div>
      <div class="profile-details">
        <p>Name: Luke Skywalker</p>
        <p>Born: 19BBY</p>
        <p>Gender: male</p>
        <p>Height: 172cm</p>
        <p>Weight: 77kg</p>
        <p>Created at: 09/12/2014 07:20 PM</p>
        <p>Edited at: 21/12/2014 02:47 AM</p>
        <p>Hair color: blond</p>
        <p>Eye color: blue</p>
        <p>Skin color: fair</p>
        <p>Planet Name: Tatooine</p>
        <p>Species: Human</p>
      </div>
    </aside>
    <main class="details">
      <section class="films">
        <h2>FILMS</h2>
        <div class="film-details">
          <p>Movie Details Card 1</p>
          <p>Movie Details</p>
          <p>Movie Details</p>
          <p>Movie Details</p>
        </div>
        <div class="film-details">
          <p>Movie Details Card 2</p>
          <p>Movie Details</p>
          <p>Movie Details</p>
          <p>Movie Details</p>
        </div>
      </section>
      <section class="vehicles">
        <h2>VEHICLES</h2>
        <div class="vehicle-details">
          <p>Vehicle Details 1</p>
          <p>Vehicle Details 2</p>
          <p>Vehicle Details 3</p>
          <p>Vehicle Details 4</p>
        </div>
      </section>
      <section class="starships">
        <h2>STARSHIPS</h2>
        <div class="starship-details">
          <p>Ship Details 1</p>
          <p>Ship Details 2</p>
          <p>Ship Details 3</p>
          <p>Ship Details 4</p>
        </div>
      </section>
    </main>
  </div>

